table {
    border: 1px solid black;
    border-spacing: 0;
}

th {
    border: 1px solid black;
    width: 250px;
    height: 40px;
    font-size: 20px;
    cursor: pointer;
}

td {
    border: 1px solid black;
    width: 250px;
    height: 40px;
    text-align: center;
    cursor: pointer;
}

